@using WebShop.Models
@model ContactForm

@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<div id="MessageBox" style="width: 480px;">
</div>
@using (Ajax.BeginForm("ContactForm", controller, new AjaxOptions { UpdateTargetId = "MessageBox" }))
{
    if (Model != null)
    {
    <input type="hidden" name="partnerId" value="@Model.PartnerId" />
    }
    <div class="RequestForm">
        <div class="floatLeft" style="margin-right: 10px;">
            <div class="lc">
                <b>@Translation.Get("Ime"): *</b>
            </div>
            <div class="rc">
                @Html.TextBox("name", "", new { @class = " FormTextbox" })
            </div>
            <br style="clear: left;" />
            <div class="lc">
                <b>@Translation.Get("Prezime"): *</b>
            </div>
            <div class="rc">
                @Html.TextBox("lastName", "", new { @class = " FormTextbox" })
            </div>
        </div>
        <div class="floatLeft">
            <div class="lc">
                <b>@Translation.Get("Email"): *</b>
            </div>
            <div class="rc">
                @Html.TextBox("email", "", new { @class = " FormTextbox" })
            </div>
            <div class="lc">
                <b>@Translation.Get("Telefon"): </b>
            </div>
            <div class="rc">
                @Html.TextBox("phone", "", new { @class = " FormTextbox" })
            </div>
        </div>
        <div class="lc">
            <b>@Translation.Get("Predmet"): *</b>
        </div>
        <div class="rc">
            @if (controller == "Subject")
            {
                @Html.TextBox("title", Model.SubjectName, new { @class = " FormTextbox SubjectTextbox", @readonly = true })
            }
            else
            {
                @Html.TextBox("title", "", new { @class = " FormTextbox SubjectTextbox" })
            }

        </div>
        <br style="clear: left;" />
        <div class="lc">
            <b>@Translation.Get("Poruka"): * </b>
        </div>
        @Html.TextArea("messageText", new { @class = "TextArea FormTextbox" })
        <br style="clear: left;" />
        @Html.Partial("Captcha")
      
        <input type="submit" value="@Translation.Get("Pošalji")" class="ButtonBlue roundedCornersMin floatRight" style="margin-right: 20px;" />
    </div>
}
