@using WebShop.Models;
@using WebShop.Infrastructure;
@model RepeaterItems

<div class="RightColumnControlBackground">
    <div class="">
        <div class="RepeaterTopItemsBackground">

            <div class="dividerBig">
            </div>
            <div class="RepeaterTopItems roundedCornersSmall">
                <div class="RepeaterTopItemsContainer">
                    @foreach (RepeaterItem item in Model.GetTopItems())
                    {
                        <div class="RepeaterItemWrapper">
                            <span class="ImageWrapper floatLeft"><a href="@Url.Action("Index", "Subject", new { pid = item.Id })" >
                               <span class="roundedCornersSmall" style="display:block; background:url('@item.ImageUrl') center center no-repeat; width:85px; height:65px;"></span>
                            </a></span><span class="Info floatLeft"><span class="TitleSmall InfoValue"><b>@Html.Raw(item.Title)</b></span>
                                <span class="InfoValue">
                                    <b>@Translation.Get("Cijena"):</b><span class="Red"> @Html.Raw(item.Price)</span>
                                </span>
                                <span class="InfoValue" >
                                    <b>@Translation.Get("Datum"):</b> @Html.Raw(item.Date)
                                </span>
                            </span>
                        </div>
    
                    }
                </div>
            </div>
        </div>
    </div>
</div>
