@using WebShop.Models;  
@{
    ViewBag.Title = Translation.Get("Zaboravljena lozinka");
}
@Html.Partial("MessageBox")
<h2>
@Translation.Get("Zaboravljena lozinka")</h2>

<p>
    @Translation.Get("U polje unesite email adresu sa kojom ste kreirali korisnički račun, ili, u slučaju ako ste je naknadno mjenjali pod korisničkim podacima, email adresu koju ste zadnje koristili.")
    <br />
   @Translation.Get(" Nakon što kliknete na") <b>" @Translation.Get("Pošalji")"</b>,  @Translation.Get("na unesenu email adresu biti će Vam poslana novo stvorena lozinka. ")
</p>
<div id="ForgottenPasswordDiv">
    @using (Html.BeginForm("ForgottenPassword", "Myaccount"))
    { 
 <div class="Label lc" style="margin-right: 10px;">
            <b> @Translation.Get("Email:")</b>
        </div>
        <div class="rc">
        @Html.TextBox("email", "", new { @class = "Textbox FormTextbox floatLeft", style = "margin-right:10px;" })
            </div>
        <input type="hidden" name="button" value="submit" />
        <input type="submit" value="@Translation.Get("Pošalji")" class="ButtonBlue roundedCornersMin floatLeft" />
    }
</div>
