@using WebShop.Models;
@using M = WebShop.Models
@using WebShop.Infrastructure;
@using Syrilium.Modules.BusinessObjects;
@model WebShop.Models.User

@{
    ViewBag.Title = M.Translation.Get("Registracija");
}
        <div>
            @Html.Partial("MessageBox")
        </div>
<div class="RegistrationWrapper paddingBig roundedCornersSmall">
    <div class="RegistrationDiv">
        <div>
            <h2>@M.Translation.Get("Registracija")
            </h2>
        </div>


        <div id="RegistrationForm" class="RegistrationForm">

            @using (Html.BeginForm("Registration", "Myaccount"))
            { 

                <div class="">
                    <div class="lc Label">
                       @M.Translation.Get("Korisničko ime")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayUserNameAlert)
                        {
                   
                            @Html.TextBox("UserName", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayUserName"]" class="tTip" />
                      
                        }
                        else
                        {
                            @Html.TextBox("UserName", "", new { @class = "Textbox FormTextbox" })
                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Email")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayEmailAlert)
                        {
                      
                            @Html.TextBox("Email", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayEmail"]" class="tTip" />
                   
                        }
                        else
                        {
                            @Html.TextBox("Email", "", new { @class = "Textbox FormTextbox" })
                        }
                    </div>
                     <div class="lc Label">
                        @M.Translation.Get("Lozinka")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayPasswordAlert)
                        {
                   
                            @Html.Password("Password", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayPassword"]" class="tTip" />
                    
                        }
                        else
                        {
                            @Html.Password("Password", "", new { @class = "Textbox FormTextbox floatLeft" })
                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Ponovi lozinku")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayPasswordAlert)
                        {
                      
                            @Html.Password("PasswordConfirm", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayPassword"]"  class="tTip "/>
                    
                        }
                        else
                        {
                            @Html.Password("PasswordConfirm", "", new { @class = "Textbox FormTextbox" })
                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Ime")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayNameAlert)
                        {
                 
                            @Html.TextBox("Name", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayName"]" class="tTip" />
               
                        }
                        else
                        {
                            @Html.TextBox("Name", "", new { @class = "Textbox FormTextbox" })
                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Prezime")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplaySurnameAlert)
                        {
              
                            @Html.TextBox("Surname", "", new { @class = "Textbox FormTextbox BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplaySurname"]" class="tTip" />
                     
                        }
                        else
                        {
                            @Html.TextBox("Surname", "", new { @class = "Textbox FormTextbox " })
                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Spol")*
                    </div>
                    <div class="rc">
                        @if (Model.DisplayGender)
                        {
                       
                            @Html.DropDownList("GenderId", WebShop.Models.User.GenderList(), "-- Odaberite spol --", new { @class = "DropDownList SexDropDownList BorderAlert" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayGender"]"  class="tTip "/>
                      
                        }
                        else
                        {
                            @Html.DropDownList("GenderId", WebShop.Models.User.GenderList(), "-- Odaberite spol --", new { @class = "DropDownList SexDropDownList" })
                        }
                    </div>
                   
                    <div class="lc Label">
                        @M.Translation.Get("Datum rođenja")
                    </div>
                    <div class="rc">
                        @if (Model.DisplayDateOfBirth)
                        {        
                        
                            @Html.TextBox("dateTime", ViewData["DateTime"], new { @class = "Textbox FormTextbox BorderAlert", id = "datepicker" })
                            <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayDateOfBirth"]"  class="tTip "/>
                      
                        }
                        else
                        {                
                            @Html.TextBox("dateTime", ViewData["DateTime"], new { @class = "Textbox FormTextbox", id = "datepicker" })

                        }
                    </div>
                    <div class="lc Label">
                        @M.Translation.Get("Telefon")
                    </div>
                    <div class="rc">
                        @Html.TextBox("Phone", "", new { @class = "Textbox FormTextbox " })
                    </div>

                    <div class="lc Label">
                        @M.Translation.Get("Grad")
                    </div>
                    <div class="rc">
                        @Html.TextBox("City", "", new { @class = "Textbox FormTextbox " })
                    </div>

                    <div class="lc Label">
                        @M.Translation.Get("Adresa")
                    </div>
                    <div class="rc">
                        @Html.TextBox("Address", "", new { @class = "Textbox FormTextbox " })
                    </div>



                    <br style="clear: left;" />
                    <h3>@M.Translation.Get("Uvijeti korištenja"):</h3>

                    @if (Model.DisplayConditionsOfUse)
                    {   
                  
                        @Html.TextArea("ConditionsOfUse", ViewData["TermsOfUse"].ToString(), new { @class = "TextArea ConditionsOfUse BorderAlert", @readonly = true })
                        <img alt="" src="../../Resources/Images/QuestionMark.png" title="@ViewData["DisplayConditionsOfUse"]"  class="tTip "/>
                    }
                    else
                    {
                        @Html.TextArea("ConditionsOfUse", ViewData["TermsOfUse"].ToString(), new { @class = "TextArea ConditionsOfUse", @readonly = true })
                    }
                </div>
                <br style="clear: left;" />
             
                <div class="Label floatLeft">
                    @M.Translation.Get("Prihvaćam uvjete korištenja")*
                </div>
                @Html.CheckBox("cbConditionsOfUse", new { style = "margin:7px;" })
             
                <br style="clear: left;" />
                <div>
                    <input type="hidden" name="button" value="submit" />
                    <input type="submit" value="@M.Translation.Get("Snimi")" class="ButtonBlue roundedCornersMin floatRight" style="margin-right:40px;" />
                </div>
          <br style="clear: left;" />
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.tTip').betterTooltip({ speed: 150, delay: 200 });
    });
</script>